{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home Page {% endblock %}

{% block body_block %}


<!--==============================Content=================================-->



	<div class="content"><div class="ic">More Website February 10, 2014!</div>
			<div class="container_12">
				<div class ="center">
				<br><br><br>
					<h2>About Us</h2>
             			<br>
             			<h3>
			              <p>Welcome to the Web API. This project displays the gas prices and specials for gas stations. </>
						  <p>Our group members are:</p>
						  <p>1. Melanie Woe</p>
						  <p>2. Bhuwan Sapkota</p>
						  <p>3. Nguyen-Vu Nguyen</p>
						  <p>4. Dai Huynh</p>
						  <p>5. Narayan Ramjali</p>
						  <p></p>
						  <h3>
				</div>
	<div>


{% endblock %}