{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home Page {% endblock %}

{% block body_block %}
<!--==============================Content=================================-->
<div class="content"><div class="ic">WEB API 2017 Melanie - Dai - Bhuwan - Narayan - Nguyen</div>
	

	{%if store %}
		{%if pages %}
			{% for name in store%}
			<br><br><br><br>
			<div class="container_12">
			<div class="banner">
			<h2> {{name}}</h2>
			<br><br><br><br>
				{%for item in pages %}
					{% if item.category == name %}
						<div class="grid_4">
							<div class="banner">
								<img src="/static/images/gas1.jpg" alt="">
								<div class="label">
									<div class="title">{{item.name }}</div>
									<div class="price">{{item.address}}</div>
									<a href= "/Foodie/page/{{ item.slugP }}" >LEARN MORE</a>
								</div>
							</div>
							<br>
						</div>
					{%endif %}
				{%endfor%}
			</div>
			</div>	
				
			{%endfor%}
			<br><br>
		{%endif %}
	{%endif %}
						
				

{% endblock %}