{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home Page {% endblock %}

{% block body_block %}
<div class = "content">
<br><br><br>

        {% if registered %}
        <h3>Hey !  <strong>thank you for registering!</strong></h3>
        <a href="/Foodie/">Return to the homepage.</a><br />
        {% else %}
        <strong><h2>register here!</h2></strong><br />

        <form id="user_form" method="post" action="/Foodie/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }} 
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

{% endblock %}

