{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saya</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/booking/css/booking.css">
    <link rel="stylesheet" href="/static/css/camera.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-migrate-1.2.1.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/superfish.js"></script>
    <script src="/static/js/jquery.ui.totop.js"></script>
    <script src="/static/js/jquery.equalheights.js"></script>
    <script src="/static/js/jquery.mobilemenu.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/owl.carousel.js"></script>
    <script src="/static/js/camera.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="/static/js/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <script src="/static/booking/js/booking.js"></script>
    <script>
      $(document).ready(function(){
      jQuery('#camera_wrap').camera({
        loader: false,
        pagination: false ,
        minHeight: '444',
        thumbnails: false,
        height: '48.375%',
        caption: true,
        navigation: true,
        fx: 'mosaic'
      });
      /*carousel*/
      var owl=$("#owl");
        owl.owlCarousel({
        items : 2, //10 items above 1000px browser width
        itemsDesktop : [995,2], //5 items between 1000px and 901px
        itemsDesktopSmall : [767, 2], // betweem 900px and 601px
        itemsTablet: [700, 2], //2 items between 600 and 0
        itemsMobile : [479, 1], // itemsMobile disabled - inherit from itemsTablet option
        navigation : true,
        pagination : false
        });
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    </script>
   
  </head>
  <body class="page1" id="top">
<!--==============================header=================================-->
    <header>
      <div class="container_12">
        <div class="grid_12">
          <div class="menu_block">
            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
              <ul class="sf-menu">
                <li class="current"><a href="/Foodie">HOME</a></li>
                <li><a href="/Foodie/location">LOCATIONS</a></li>
                <li><a href="/Foodie/special">SPECIAL OFFERS</a></li>
                <Li><a href="/Foodie/about">ABOUT</a></li>
                <li><a href="/Foodie/contact">CONTACTS</a></li>
              </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
        <div class="grid_12">
            <a href="/Foodie">
              <h1>
              <img src="/static/images/logosaya.png" alt="Gas App">    
              </h1> 
            </a>
        </div>
      </div>
    </header>
    <div class="slider_wrapper">
      <div id="camera_wrap" class="">
        <div data-src="/static/images/slide.jpg">
          <div class="caption fadeIn">
            <h2>WELCOME</h2>
            <div class="price">
              Gas Station and Mini Market
            </div>
            <a href="/Foodie/about">ABOUT US</a>
          </div>
        </div>
        <div data-src="/static/images/slide2.jpg">
          <div class="caption fadeIn">
            <h2>WELCOME</h2>
            <div class="price">
              Gas Station and Mini Market
            </div>
            <a href="/Foodie/about">ABOUT US</a>
          </div>
        </div>
      </div>
    </div>


{% block body_block %}{% endblock %}
</div> 


<footer>
  <div class="container_12">
    <div class="grid_12">
      <div class="socials">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google-plus"></a>
          </div>
          <div class="copy">
            Melanie - Dai - Bhuwan - Narayan - Nguyen | <a href="/Foodie/privacy">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>
    <script>
      $(function (){
        $('#bookingForm').bookingForm({
          ownerEmail: '#'
        });
      })
      $(function() {
        $('#bookingForm input, #bookingForm textarea').placeholder();
      });
    </script>
  </body>
</html>


